<!-- Head: HI THERE -->
<div class="bloc bloc-head">
    <svg height="300" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         viewBox="0 0 404.7 354" enable-background="new 0 0 404.7 354" id="hi-there" onclick="hi.reset().play();">

        <!-- HI -->
        <path data-duration="10" d="M324.6,61.2c16.6,0,29.5-12.9,29.5-29.5c0-16.6-12.9-29.5-29.5-29.5c-16.6,0-29.5,12.9-29.5,29.5C295.1,48.4,308,61.2,324.6,61.2z"/>
<path data-duration="130" d="M366.2,204.2c-9.8,0-15-5.6-15-15.1V77.2h-85v28h19.5c9.8,0,8.5,2.1,8.5,11.6v72.4c0,9.5,0.5,15.1-9.3,15.1H277h-20.7c-8.5,0-14.2-4.1-14.2-12.9V52.4c0-8.5,5.7-12.3,14.2-12.3h18.8v-28h-127v28h18.1c8.5,0,9.9,2.1,9.9,8.9v56.1h-75V53.4c0-11.5,8.6-13.3,17-13.3h11v-28H2.2v28h26c8.5,0,12,2.1,12,7.9v142.2c0,8.5-3.6,13.9-12,13.9h-21v33h122v-33h-11c-8.5,0-17-4.1-17-12.2v-57.8h75v58.4c0,9.1-1.4,11.6-9.9,11.6h-18.1v33h122.9h5.9h102.2v-33H366.2z"/>

<path data-async data-delay="20" d="M358.8,82.8c11.1-4.2,18.8-14.7,18.8-27.5c0-8.5-3.4-16-8.9-21.3"/>
        <path data-async d="M124.2,105.7V77c0-11.5,9.1-13.8,17.5-13.8h10.5V44.7"/>
        <polyline data-async points="147.9,40.2 171.2,63.2 175.7,63.2"/>
        <line data-async x1="295.1" y1="32.1" x2="275.2" y2="12.2"/>
        <path data-async d="M266.2,204.7V75.9c0-8.5,5.2-12.8,13.7-12.8h18.3V44.7"/>
        <polyline data-async points="265.9,105.2 289.2,129.2 293.7,129.2"/>
        <polyline data-async points="374.2,204.7 374.2,94.2 358.8,82.8 351.2,77.2"/>
        <polyline data-async points="148.2,237.2 171.2,261.2 294.6,261.2 300.5,261.2 402.2,261.2 402.2,228.2 379.2,204.2"/>
        <polyline data-async points="124.2,204.7 124.2,157.2 175.7,157.2"/>
        <line data-async x1="147.7" y1="228.2" x2="129.2" y2="204.2"/>
        <polyline data-async points="7.2,237.3 30.2,261.2 152.2,261.2 152.2,241.7"/>
        <polyline data-async points="1.9,40.2 26,63.2 39.7,63.2"/>
        <line data-async x1="129.2" y1="12.2" x2="148.2" y2="33.2"/>
        <line data-async x1="303.9" y1="53" x2="328.1" y2="77.2"/>

        <line x1="345.1" y1="10.5" x2="368.7" y2="34"/>
    </svg>
</div>

<div class="info-container">
    <div class="info-content">
    <img class="info-avatar" src="/assets/img/myface.jpg">
    <div class="info-link">
      <a class="info-icon extra" href="/friends"><i class="heartbeat icon"></i></a>
      <a class="info-icon extra" href="https://github.com/winecat" target="_blank"><i class="github icon"></i></a>
      <a class="info-icon" href="/tag/code/"><i class="code icon"></i></a>
      <div style="width: 100px; height: 100px; float: left; margin: 0 20px;"></div>
      <a class="info-icon" href="/tag/fragment/"><i class="cubes icon"></i></a>
      <a class="info-icon extra" href="//winecat.lofter.com/" target="_blank"><i class="photo icon"></i></a>
      <a class="info-icon extra" href="/about"><i class="power icon"></i></a>
    </div>
    </div>
</div>
